html, body {
  background:linear-gradient(135deg, #5b247a 0%,#1bcedf 100%);
  color: #FFFFFF;
  font-size: 36px;
  height: 100%;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

#gradient-stack {
  background: transparent;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#gradient-stack * {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.4s ease-out;
  width: 100%;
}

#gradient-stack .visible {
  opacity: 1;
}

#gradient-stack_1 {
  background:linear-gradient(135deg, #f2d50f 0%,#da0641 100%);
}

#gradient-stack_2 {
  background:linear-gradient(135deg, #f02fc2 0%,#6094ea 100%);
}

#gradient-stack_3 {
  background:linear-gradient(135deg, #c3ec52 0%,#0ba29d 100%);
}

#gradient-stack_4 {
  background:linear-gradient(135deg, #7117ea 0%,#ea6060 100%);
}

#description-container {
  position: fixed;
  z-index: 3;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#description {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20%;
  z-index: 3;
}

#intro {
  max-width: 360px;
}

#description p {
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
  letter-spacing: 0.066rem;
  line-height: 1.78rem;
}

.link {
  border-bottom: 1px solid #FFFFFF;
  box-sizing: content-box;
  cursor: pointer;
  color: #FFFFFF;
  position: relative;
  text-decoration: none;
  transition: border 0.2s ease-out;
}

.link:hover {
  border-bottom: 3px solid #FFFFFF;
}

#name {
  color: #FFFFFF;
  font-family: 'Source Code Pro', monospace;
  font-variant: small-caps;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0.36rem;
}


/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1024px)
  and (min-width: 768px) {

  html, body {
    font-size: 18px;
  }

  #description {
    max-width: 500px;
    padding-right: 20%;
    padding-top: 16%;
  }
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1024px)
  and (min-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {

  html, body {
    font-size: 19px;
  }

  #description {
    padding-left: 10%;
    max-width: 520px;
    padding-right: 20%;
    padding-top: 16%;
  }
}

/* ----------- Smaller Browser Windows ----------- */
@media screen
  and (min-device-width: 1024px)
  and (max-width: 767px) {

  html, body {
    font-size: 14px;
  }

  #description {
    max-width: 400px;
    padding-top: 16%;
  }
}

/* iPad Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

  html, body {
    font-size: 24px;
  }
}

/* iPad Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

  html, body {
    font-size: 18px;
  }
}

/* ----------- Phones ----------- */
@media screen
and (max-width: 767px) {

  html, body {
    font-size: 18px;
  }

  #description {
    max-width: 400px;
    padding-top: 16%;
    padding-bottom: 24px;
  }
}
