html, body {
  background:linear-gradient(135deg, #5b247a 0%,#1bcedf 100%);
  color: #FFFFFF;
  font-size: 36px;
  height: 100%;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

#description {
  left: 10%;
  padding-right: 10%;
  position: fixed;
  top: 20%;
}

#description p {
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
  letter-spacing: 0.055rem;
  line-height: 1.55rem;
}

.link {
  border-bottom: 1px solid #FFFFFF;
  cursor: pointer;
  color: #FFFFFF;
  position: relative;
  text-decoration: none;
  box-sizing: content-box;
}

#name {
  color: #FFFFFF;
  font-family: 'Source Code Pro', monospace;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0.36rem;
}


/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1024px)
  and (min-width: 768px) {

  html, body {
    font-size: 18px;
  }

  #description {
    max-width: 520px;
    padding-right: 20%;
    top: 16%;
  }
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1024px)
  and (min-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {

  html, body {
    font-size: 24px;
  }

  #description {
    left: 10%;
    max-width: 520px;
    padding-right: 20%;
    top: 16%;
  }
}

/* ----------- Smaller Browser Windows ----------- */
@media screen
  and (min-device-width: 1024px)
  and (max-width: 767px) {

  html, body {
    font-size: 14px;
  }

  #description {
    max-width: 400px;
    position: fixed;
    top: 16%;
  }
}

/* iPad Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

  html, body {
    font-size: 24px;
  }
}

/* iPad Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

  html, body {
    font-size: 18px;
  }
}
