html, body {
  background-color: #EDEDED;
  color: #3A3A3A;
  height: 100%;
  margin: 0;
  width: 100%;
  border: 10px solid #FFFFFF;
  box-sizing: border-box;
}

#description {
  left: 10%;
  padding-right: 10%;
  position: fixed;
  top: 20%;
}

#description p {
  font-family: 'Source Code Pro', monospace;
  font-size: 36px;
  letter-spacing: 1px;
  line-height: 56px;
}

.link {
  border-bottom: 1px solid #2B2B2B;
  cursor: pointer;
  color: #2B2B2B;
  position: relative;
  text-decoration: none;
}

.link:before {
  background-color: #FFF0B3;
  content: '';
  height: 66%;
  left: 6px;
  opacity: 0.8;
  padding: 0;
  position: absolute;
  top: 10px;
  transition: width 0.3s ease-in;
  -webkit-transition: width 0.3s ease-in;
  width: 0;
  z-index: -1;
}

.link.pink:before {
  background-color: #FFB3FF;
}

.link.green:before {
  background-color: #B3FFB3;
}

.link.orange:before {
  background-color: #FFCE8e
}

.link:hover {
  border-bottom: 1px solid transparent;
}

.link:after {
  border-bottom: 1px solid #2B2B2B;
  content: '';
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: width 0.3s ease-in;
  -webkit-transition: width 0.3s ease-in;
  width: 100%;
  z-index: -1;
}

.link:hover:before {
  width: 100%;
}

.link:hover:after {
  width: 0;
}

.highlight {
  position: relative;
}

.highlight:before {
  background-color: #B3F0FF;
  content: '';
  height: 66%;
  left: 6px;
  top: 10px;
  width: 100%;
  position: absolute;
  z-index: -1;
}

#name {
  bottom: 16px;
  right: 10px;
  position: fixed;
}

#name h1 {
  color: #FFFFFF;
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  font-size: 30vw;
  letter-spacing: 4px;
  line-height: 24vw;
  margin: 0;
}


/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1024px)
  and (min-width: 768px) {

  #name {
    bottom: 14px;
  }

  #description {
    max-width: 540px;
    padding-right: 20%;
    top: 16%;
  }

  #description p {
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 32px;
  }

  #name h1 {
    font-size: 200px;
    letter-spacing: 4px;
    line-height: 160px;
  }
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1024px)
  and (min-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {

  #name {
    bottom: 14px;
  }

  #description {
    left: 10%;
    max-width: 540px;
    padding-right: 20%;
    top: 16%;
  }

  #description p {
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 32px;
  }

  #name h1 {
    font-size: 200px;
    letter-spacing: 4px;
    line-height: 160px;
  }
}

/* ----------- Smaller Browser Windows ----------- */
@media screen
  and (min-device-width: 1024px)
  and (max-width: 767px) {

  #name {
    bottom: 13px;
  }

  #description {
    max-width: 400px;
    position: fixed;
    top: 16%;
  }

  #description p {
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 28px;
  }

  #name h1 {
    font-size: 24vw;
    letter-spacing: 4px;
    line-height: 20vw;
  }
}

/* iPad Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

  #name {
    bottom: 10px;
  }

  #description p {
    font-size: 24px;
    line-height: 40px;
  }

  #name h1 {
    font-size: 24vw;
    letter-spacing: 4px;
    line-height: 20vw;
  }
}

/* iPad Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

  #name {
    bottom: 16px;
  }

  #description p {
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 32px;
  }

  #name h1 {
    font-size: 20vw;
    letter-spacing: 4px;
    line-height: 16vw;
  }
}
